@import './colors';
@import './header.scss';
@import './rental-home';

.btn {
    &.btn-sb-main {
        border-color: $main-app-color;
        color: $main-app-color;

        &:hover,
        &:focus,
        &:active {
            background-color: $main-app-color;
            border-color: $main-app-color;
            color: white;
            box-shadow: none;
        }
    }
}
